<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScriptAkademy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScriptAkademy.styles.css" asp-append-version="true"/>
</head>
<body>
    
    <div class="container" style="margin-left: -15px;">

        <div class="" style="width:116%; display: flex;">

            <div class="" style="width:20.6%;">

                <div class="card text-light bg-dark" style="width: 18rem; margin-bottom: 15px; border-radius:0px;">
                  <img src="https://www.ionos.es/digitalguide/fileadmin/DigitalGuide/Teaser/code-t.jpg" class="card-img-top" alt="...">
                  <div class="card-body" style="text-align:center;">
                    <h5 class="card-title"><i class="bi bi-columns-gap"></i>  Dynamics System</h5>
                  </div>
                  <ul class="list-group list-group-flush" style="border:0px; ">
                    <li class="list-group-item bg-dark text-secondary d-grid gap-2" style="border:0px; margin-top: 5px; margin-bottom: 5px;">
                        <a id="link" type="button" asp-controller="Usuarios" asp-action="Index" class="btn" style=""><i class="bi bi-people-fill"></i> Administrar Usuarios</a>
                    </li>
                    <li class="list-group-item bg-dark text-secondary d-grid gap-2" style="border:0px; margin-top: 5px; margin-bottom: 5px;">
                        <a id="link" type="button" asp-controller="Productos" asp-action="Index" class="btn" style=""><i class="bi bi-basket3-fill"></i> Administrar Productos</a>
                    </li>
                    <li class="list-group-item bg-dark text-secondary d-grid gap-2" style="border:0px; margin-top: 5px; margin-bottom: 5px;">
                        <a id="link" type="button" asp-controller="Clientes" asp-action="Index" class="btn" style=""><i class="bi bi-person-square"></i> Administrar Clientes</a>
                    </li>
                    <li class="list-group-item bg-dark text-secondary d-grid gap-2" style="border:0px; margin-top: 5px; margin-bottom: 5px;">
                        <button id="link" type="button" asp-controller="Ventas" asp-action="Index" class="btn" style=""><i class="bi bi-cart-fill"></i> Administrar Ventas</button>
                    </li>
                  </ul>
                  <div class="card-body" style="height:24vh;">
                  </div>
                  <li class="list-group-item text-secondary d-grid gap-2" style="background-color: #3D3D3D; padding-top: 20px; padding-bottom: 20px;">
                      <a id="linkLogin" type="button" asp-controller="Usuarios" asp-action="Index" class="btn" style=""><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesion</a>
                  </li>
                </div>

            </div>

            <div class="" style="width:100%; margin-right: -19px;">

                <header>
                    <nav class="barra navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3" style="background: #FF173D; box-shadow:  6px 6px 14px #cfcfcf;">
                        <div class="container-fluid">
                            <a id="titles" class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Script Akademy</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i> Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Inicio" asp-action="Index"><i class="bi bi-front"></i></i> Vista Clientes</a>
                                    </li>
                                </ul>
                                <form class="d-flex" role="search">
                                    <input id="search" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                                </form>
                            </div>
                        </div>
                    </nav>
                </header>

                <div class="col" style="margin-left:15px; margin-right:15px;">

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>

                </div>

            </div>

        </div>

    </div>

    <footer class=" footer text-muted bg-secondary opacity-100" style="height: 5pc; margin-bottom: -60px;">
        <div class="text-light" style="margin-top:-15px; padding-top: 26px; padding-left: 30px;">
            &copy; 2022 - ScriptAkademy - <a style="color:darkred; text-decoration:none;" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jquery.js" type="text/javascript"></script>
    <script src="jquery.maskedinput.js" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
