/*----------------------------------------------------------------*/
/*HOME*/

#carta-inicio {
    border: 0px;
    border-radius: 0px;
}

#imagen-inicio {
    background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-attachment: fixed;
    background-size: 80vw;
    background-position-x: 20vw;
    width: auto;
    height: 30vh;
}

#caja-inicio h5 {
    font-size: 50px;
    text-shadow: 0 0 9px #FF0000;
}

#caja-inicio p {
    margin-top: 20px;
    font-size: 20px;
    text-shadow: 0 0 9px #00AEFF;
}

#pie-inicio {
    background-color: #EAEAEA !important;
    border-radius: 0px;
}

#pie-inicio h2{
    text-align:justify;
    color: gray;
    font-size:20px;
    margin-top: 5px;
}

#contenido-inicio{
    overflow: hidden;
}

#img-inicio{
    height: 27vh;
}

#graficos {
    border: 0px;
    background-color: #EAEAEA;
    border-radius: 0px;
}

/*----------------------------------------------------------------*/
/*LAYOUT*/
#link {
    color: white;
    background-color: #3B3B3B !important;
    border-radius: 20px;
    border: 0px;
    box-shadow: -5px -5px 9px #181818,5px 5px 9px #181818;
}

#link:hover {
    background-color: #FF4D4D !important;
    color: black;
}

#linkLogin {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
}

#linkLogin:hover {
    border: 1px solid black;
    background-color: #44BEFF !important;
    color: black;
}

#search {
    border: 2px solid white;
    border-radius: 20px;
    background-color: #FFBFCA;
    color: white;
}

#titles {
    background-color: #790014;
    border: 3px solid white;
    border-radius: 20px;
    border-style: dashed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*----------------------------------------------------------------*/
/*USUARIO-DETALLE Y ELIMINAR*/

#carta {
    border-radius: 0px;
    height: 87vh;
}

#textbox {
    z-index: 1;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ffffff;
    box-shadow: 2px 2px 6px #e0e0e0, -2px -2px 6px #F1F1F1;
}

    #textbox:focus {
        box-shadow: -5px 5px 10px #e09898, 5px -5px 10px #ffc2c2;
    }

#spans {
    z-index: 2;
    border: 0px;
    color: white;
    background-color: #FF3B47;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -2px 2px 6px #e0e0e0, 2px -2px 6px #F1F1F1;
}

#cartaheader {
    background-color: #FFE5E7;
    border-bottom: 0px;
}

#foti {
    border: 0px;
}

#foti2 {
    background: #FFCDA5;
    border-bottom: 10px solid #FFB071;
}

#boton1 {
    background: linear-gradient(145deg, #3eff7b, #34e668);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
}

#boton2 {
    background: linear-gradient(145deg, #ff3e3e, #e63434);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px;
}

#botonA {
    background: linear-gradient(225deg, #fffa00, #e6d300);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
}

#botonB {
    background: linear-gradient(145deg, #ff3e3e, #e63434);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0px;
}

/*----------------------------------------------------------------*/
/*INDEX - USUARIOS*/

#btnUsuario {
    color: white;
    background: #ff4c4c;
    border: 3px solid #FFC9C9;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    transition-delay: .2s;
}

#btnUsuario:hover {
    background: #ff874c;
}

#barratabla {
    background-color: #FFE5CA;
}

#ids{
    font-weight: bold;
}

#btnEditar {
    color: #7B7B7B;
    background: #FFEA92;
    border: 2px solid #FFCD00;
    border-radius: 20px;
}

#btnEditar:hover {
    color: #FFEA92;
    background: #545454;
}


#btnEliminar {
    color: white;
    background: #FF9494;
    border: 2px solid #FF4242;
    border-radius: 20px;
}

#btnEliminar:hover {
    color: #FF9494;
    background: #545454;
}

/*------------------------------------*/

#scroll{
    overflow-y: scroll;
    height: 61.8vh;
}

#scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

#scroll::-webkit-scrollbar:vertical {
    width:10px;
}

#scroll::-webkit-scrollbar-button:increment,#scroll::-webkit-scrollbar-button {
    display: none;
} 

#scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #DFDFDF;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/*------------------------------------------------------------------*/
/*SCROLL BODY*/
body {
    overflow-y: scroll;
    height: 68vh;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

#scroll::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment, #scroll::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #DFDFDF;
    border-radius: 0px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}